
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMCountryLabel">Create or edit a M Country</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.mCountry.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.mCountry.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_countryName">Country Name</label>
            <input type="text" class="form-control" name="countryName" id="field_countryName"
                    ng-model="vm.mCountry.countryName"
                    required/>
            <div ng-show="editForm.countryName.$invalid">
                <p class="help-block"
                    ng-show="editForm.countryName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.mCountry)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.mCountry.imageContentType + ';base64,' + vm.mCountry.image}}" style="max-height: 100px;" ng-if="vm.mCountry.image" alt="mCountry image"/>
                <div ng-if="vm.mCountry.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.mCountry.imageContentType}}, {{vm.byteSize(vm.mCountry.image)}}</span>
                    <button type="button" ng-click="vm.mCountry.image=null;vm.mCountry.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.mCountry)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.mCountry.image"
                    />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.mCountry.imageContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                    ng-model="vm.mCountry.imageUrl"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImageThumbUrl($file, vm.mCountry)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_imageThumbUrl">Image Thumb Url</label>
            <div>
                <img data-ng-src="{{'data:' + vm.mCountry.imageThumbUrlContentType + ';base64,' + vm.mCountry.imageThumbUrl}}" style="max-height: 100px;" ng-if="vm.mCountry.imageThumbUrl" alt="mCountry image"/>
                <div ng-if="vm.mCountry.imageThumbUrl" class="help-block clearfix">
                    <span class="pull-left">{{vm.mCountry.imageThumbUrlContentType}}, {{vm.byteSize(vm.mCountry.imageThumbUrl)}}</span>
                    <button type="button" ng-click="vm.mCountry.imageThumbUrl=null;vm.mCountry.imageThumbUrlContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImageThumbUrl($file, vm.mCountry)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imageThumbUrl" id="field_imageThumbUrl"
                    ng-model="vm.mCountry.imageThumbUrl"
                    />
            <input type="hidden" class="form-control" name="imageThumbUrlContentType" id="field_imageThumbUrlContentType"
                    ng-model="vm.mCountry.imageThumbUrlContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImageFlag($file, vm.mCountry)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_imageFlag">Image Flag</label>
            <div>
                <img data-ng-src="{{'data:' + vm.mCountry.imageFlagContentType + ';base64,' + vm.mCountry.imageFlag}}" style="max-height: 100px;" ng-if="vm.mCountry.imageFlag" alt="mCountry image"/>
                <div ng-if="vm.mCountry.imageFlag" class="help-block clearfix">
                    <span class="pull-left">{{vm.mCountry.imageFlagContentType}}, {{vm.byteSize(vm.mCountry.imageFlag)}}</span>
                    <button type="button" ng-click="vm.mCountry.imageFlag=null;vm.mCountry.imageFlagContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImageFlag($file, vm.mCountry)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imageFlag" id="field_imageFlag"
                    ng-model="vm.mCountry.imageFlag"
                    />
            <input type="hidden" class="form-control" name="imageFlagContentType" id="field_imageFlagContentType"
                    ng-model="vm.mCountry.imageFlagContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_imageFlagUrl">Image Flag Url</label>
            <input type="text" class="form-control" name="imageFlagUrl" id="field_imageFlagUrl"
                    ng-model="vm.mCountry.imageFlagUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_imageFlagThumbUrl">Image Flag Thumb Url</label>
            <input type="text" class="form-control" name="imageFlagThumbUrl" id="field_imageFlagThumbUrl"
                    ng-model="vm.mCountry.imageFlagThumbUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_countryCode">Country Code</label>
            <input type="text" class="form-control" name="countryCode" id="field_countryCode"
                    ng-model="vm.mCountry.countryCode"
                    required/>
            <div ng-show="editForm.countryCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.countryCode.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
