
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUpdatesLabel">Create or edit a Updates</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.updates.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.updates.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_entityName">Entity Name</label>
            <input type="text" class="form-control" name="entityName" id="field_entityName"
                    ng-model="vm.updates.entityName"
                    required/>
            <div ng-show="editForm.entityName.$invalid">
                <p class="help-block"
                    ng-show="editForm.entityName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_entityId">Entity Id</label>
            <input type="number" class="form-control" name="entityId" id="field_entityId"
                    ng-model="vm.updates.entityId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_updateType">Update Type</label>
            <select class="form-control" name="updateType" ng-model="vm.updates.updateType" id="field_updateType">
                <option value="CREATE">CREATE</option>
                <option value="UPDATE">UPDATE</option>
                <option value="DELETE">DELETE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_updateDateTime">Update Date Time</label>
                <div class="input-group">
                    <input id="field_updateDateTime" type="text" class="form-control" name="updateDateTime" datetime-picker="{{dateformat}}" ng-model="vm.updates.updateDateTime" is-open="vm.datePickerOpenStatus.updateDateTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updateDateTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
