<div>
    <h2>Postings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="posting.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Posting
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ownerId"><span>Owner Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postingDate"><span>Posting Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timezone"><span>Timezone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="expiredDate"><span>Expired Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productName"><span>Product Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="brand"><span>Brand</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postingItemImg"><span>Posting Item Img</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postingItemImgUrl"><span>Posting Item Img Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postingItemImgThumbUrl"><span>Posting Item Img Thumb Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantity"><span>Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="avaiableQuantity"><span>Avaiable Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="referenceLink"><span>Reference Link</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="itemCategoryId"><span>Item Category Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="itemCategoryName"><span>Item Category Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="itemSubCategoryId"><span>Item Sub Category Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="itemSubCategoryName"><span>Item Sub Category Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="additionalInfo"><span>Additional Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="referencePlace"><span>Reference Place</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countryBuyFromId"><span>Country Buy From Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countryBuyFromName"><span>Country Buy From Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cityBuyFromId"><span>City Buy From Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cityBuyFromName"><span>City Buy From Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countrySentToId"><span>Country Sent To Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countrySentToName"><span>Country Sent To Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="citySentToId"><span>City Sent To Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="citySentToName"><span>City Sent To Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fragile"><span>Fragile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="needCooler"><span>Need Cooler</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="otherNote"><span>Other Note</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="otherNoteInfo"><span>Other Note Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="itemWeight"><span>Item Weight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="packageSizeId"><span>Package Size Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="packageSizeName"><span>Package Size Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="needReceipt"><span>Need Receipt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="priceItem"><span>Price Item</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serviceFee"><span>Service Fee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jastipFee"><span>Jastip Fee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalFee"><span>Total Fee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="acceptedOfferingId"><span>Accepted Offering Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shoppingDate"><span>Shopping Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deliveryDate"><span>Delivery Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trip.id"><span>Trip</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="posting in vm.postings track by posting.id">
                    <td><a ui-sref="posting-detail({id:posting.id})">{{posting.id}}</a></td>
                    <td>{{posting.type}}</td>
                    <td>{{posting.status}}</td>
                    <td>{{posting.ownerId}}</td>
                    <td>{{posting.postingDate | date:'medium'}}</td>
                    <td>{{posting.timezone}}</td>
                    <td>{{posting.expiredDate | date:'medium'}}</td>
                    <td>{{posting.productName}}</td>
                    <td>{{posting.brand}}</td>
                    <td>
                        <a ng-if="posting.postingItemImg" ng-click="vm.openFile(posting.postingItemImgContentType, posting.postingItemImg)">
                            <img data-ng-src="{{'data:' + posting.postingItemImgContentType + ';base64,' + posting.postingItemImg}}" style="max-height: 30px;" alt="posting image"/>
                        </a>
                        <span ng-if="posting.postingItemImg">{{posting.postingItemImgContentType}}, {{vm.byteSize(posting.postingItemImg)}}</span>
                    </td>
                    <td>{{posting.postingItemImgUrl}}</td>
                    <td>{{posting.postingItemImgThumbUrl}}</td>
                    <td>{{posting.description}}</td>
                    <td>{{posting.quantity}}</td>
                    <td>{{posting.avaiableQuantity}}</td>
                    <td>{{posting.referenceLink}}</td>
                    <td>{{posting.itemCategoryId}}</td>
                    <td>{{posting.itemCategoryName}}</td>
                    <td>{{posting.itemSubCategoryId}}</td>
                    <td>{{posting.itemSubCategoryName}}</td>
                    <td>{{posting.additionalInfo}}</td>
                    <td>{{posting.referencePlace}}</td>
                    <td>{{posting.countryBuyFromId}}</td>
                    <td>{{posting.countryBuyFromName}}</td>
                    <td>{{posting.cityBuyFromId}}</td>
                    <td>{{posting.cityBuyFromName}}</td>
                    <td>{{posting.countrySentToId}}</td>
                    <td>{{posting.countrySentToName}}</td>
                    <td>{{posting.citySentToId}}</td>
                    <td>{{posting.citySentToName}}</td>
                    <td>{{posting.fragile}}</td>
                    <td>{{posting.needCooler}}</td>
                    <td>{{posting.otherNote}}</td>
                    <td>{{posting.otherNoteInfo}}</td>
                    <td>{{posting.itemWeight}}</td>
                    <td>{{posting.packageSizeId}}</td>
                    <td>{{posting.packageSizeName}}</td>
                    <td>{{posting.needReceipt}}</td>
                    <td>{{posting.priceItem}}</td>
                    <td>{{posting.serviceFee}}</td>
                    <td>{{posting.jastipFee}}</td>
                    <td>{{posting.totalFee}}</td>
                    <td>{{posting.acceptedOfferingId}}</td>
                    <td>{{posting.shoppingDate | date:'medium'}}</td>
                    <td>{{posting.deliveryDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="trip-detail({id:posting.trip.id})">{{posting.trip.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="posting-detail({id:posting.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="posting.edit({id:posting.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="posting.delete({id:posting.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
