
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPostingLabel">Create or edit a Posting</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.posting.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.posting.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.posting.type" id="field_type">
                <option value="TRAVELLER">TRAVELLER</option>
                <option value="REQUESTOR">REQUESTOR</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.posting.status" id="field_status">
                <option value="NEW">NEW</option>
                <option value="OFFERED">OFFERED</option>
                <option value="CLOSE">CLOSE</option>
                <option value="CANCELED">CANCELED</option>
                <option value="EXPIRED">EXPIRED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ownerId">Owner Id</label>
            <input type="number" class="form-control" name="ownerId" id="field_ownerId"
                    ng-model="vm.posting.ownerId"
                    required/>
            <div ng-show="editForm.ownerId.$invalid">
                <p class="help-block"
                    ng-show="editForm.ownerId.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ownerId.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postingDate">Posting Date</label>
                <div class="input-group">
                    <input id="field_postingDate" type="text" class="form-control" name="postingDate" datetime-picker="{{dateformat}}" ng-model="vm.posting.postingDate" is-open="vm.datePickerOpenStatus.postingDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('postingDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_timezone" uib-tooltip="generated by system">Timezone</label>
            <input type="text" class="form-control" name="timezone" id="field_timezone"
                    ng-model="vm.posting.timezone"
                    required/>
            <div ng-show="editForm.timezone.$invalid">
                <p class="help-block"
                    ng-show="editForm.timezone.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_expiredDate">Expired Date</label>
                <div class="input-group">
                    <input id="field_expiredDate" type="text" class="form-control" name="expiredDate" datetime-picker="{{dateformat}}" ng-model="vm.posting.expiredDate" is-open="vm.datePickerOpenStatus.expiredDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expiredDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.expiredDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.expiredDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.expiredDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_productName">Product Name</label>
            <input type="text" class="form-control" name="productName" id="field_productName"
                    ng-model="vm.posting.productName"
                    required/>
            <div ng-show="editForm.productName.$invalid">
                <p class="help-block"
                    ng-show="editForm.productName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_brand">Brand</label>
            <input type="text" class="form-control" name="brand" id="field_brand"
                    ng-model="vm.posting.brand"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPostingItemImg($file, vm.posting)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_postingItemImg">Posting Item Img</label>
            <div>
                <img data-ng-src="{{'data:' + vm.posting.postingItemImgContentType + ';base64,' + vm.posting.postingItemImg}}" style="max-height: 100px;" ng-if="vm.posting.postingItemImg" alt="posting image"/>
                <div ng-if="vm.posting.postingItemImg" class="help-block clearfix">
                    <span class="pull-left">{{vm.posting.postingItemImgContentType}}, {{vm.byteSize(vm.posting.postingItemImg)}}</span>
                    <button type="button" ng-click="vm.posting.postingItemImg=null;vm.posting.postingItemImgContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPostingItemImg($file, vm.posting)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="postingItemImg" id="field_postingItemImg"
                    ng-model="vm.posting.postingItemImg"
                    />
            <input type="hidden" class="form-control" name="postingItemImgContentType" id="field_postingItemImgContentType"
                    ng-model="vm.posting.postingItemImgContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postingItemImgUrl">Posting Item Img Url</label>
            <input type="text" class="form-control" name="postingItemImgUrl" id="field_postingItemImgUrl"
                    ng-model="vm.posting.postingItemImgUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postingItemImgThumbUrl">Posting Item Img Thumb Url</label>
            <input type="text" class="form-control" name="postingItemImgThumbUrl" id="field_postingItemImgThumbUrl"
                    ng-model="vm.posting.postingItemImgThumbUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.posting.description"
                    required/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.posting.quantity"
                    required min="1"/>
            <div ng-show="editForm.quantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantity.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.min" translate-value-min="1">
                    This field should be at least 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_avaiableQuantity">Avaiable Quantity</label>
            <input type="number" class="form-control" name="avaiableQuantity" id="field_avaiableQuantity"
                    ng-model="vm.posting.avaiableQuantity"
                    min="0"/>
            <div ng-show="editForm.avaiableQuantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.avaiableQuantity.$error.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.avaiableQuantity.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_referenceLink">Reference Link</label>
            <input type="text" class="form-control" name="referenceLink" id="field_referenceLink"
                    ng-model="vm.posting.referenceLink"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_itemCategoryId">Item Category Id</label>
            <input type="number" class="form-control" name="itemCategoryId" id="field_itemCategoryId"
                    ng-model="vm.posting.itemCategoryId"
                    required/>
            <div ng-show="editForm.itemCategoryId.$invalid">
                <p class="help-block"
                    ng-show="editForm.itemCategoryId.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.itemCategoryId.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_itemCategoryName">Item Category Name</label>
            <input type="text" class="form-control" name="itemCategoryName" id="field_itemCategoryName"
                    ng-model="vm.posting.itemCategoryName"
                    required/>
            <div ng-show="editForm.itemCategoryName.$invalid">
                <p class="help-block"
                    ng-show="editForm.itemCategoryName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_itemSubCategoryId">Item Sub Category Id</label>
            <input type="number" class="form-control" name="itemSubCategoryId" id="field_itemSubCategoryId"
                    ng-model="vm.posting.itemSubCategoryId"
                    required/>
            <div ng-show="editForm.itemSubCategoryId.$invalid">
                <p class="help-block"
                    ng-show="editForm.itemSubCategoryId.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.itemSubCategoryId.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_itemSubCategoryName">Item Sub Category Name</label>
            <input type="text" class="form-control" name="itemSubCategoryName" id="field_itemSubCategoryName"
                    ng-model="vm.posting.itemSubCategoryName"
                    required/>
            <div ng-show="editForm.itemSubCategoryName.$invalid">
                <p class="help-block"
                    ng-show="editForm.itemSubCategoryName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_additionalInfo">Additional Info</label>
            <input type="text" class="form-control" name="additionalInfo" id="field_additionalInfo"
                    ng-model="vm.posting.additionalInfo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_referencePlace">Reference Place</label>
            <input type="text" class="form-control" name="referencePlace" id="field_referencePlace"
                    ng-model="vm.posting.referencePlace"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_countryBuyFromId">Country Buy From Id</label>
            <input type="number" class="form-control" name="countryBuyFromId" id="field_countryBuyFromId"
                    ng-model="vm.posting.countryBuyFromId"
                    required/>
            <div ng-show="editForm.countryBuyFromId.$invalid">
                <p class="help-block"
                    ng-show="editForm.countryBuyFromId.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.countryBuyFromId.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_countryBuyFromName">Country Buy From Name</label>
            <input type="text" class="form-control" name="countryBuyFromName" id="field_countryBuyFromName"
                    ng-model="vm.posting.countryBuyFromName"
                    required/>
            <div ng-show="editForm.countryBuyFromName.$invalid">
                <p class="help-block"
                    ng-show="editForm.countryBuyFromName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cityBuyFromId">City Buy From Id</label>
            <input type="number" class="form-control" name="cityBuyFromId" id="field_cityBuyFromId"
                    ng-model="vm.posting.cityBuyFromId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cityBuyFromName">City Buy From Name</label>
            <input type="text" class="form-control" name="cityBuyFromName" id="field_cityBuyFromName"
                    ng-model="vm.posting.cityBuyFromName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_countrySentToId">Country Sent To Id</label>
            <input type="number" class="form-control" name="countrySentToId" id="field_countrySentToId"
                    ng-model="vm.posting.countrySentToId"
                    required/>
            <div ng-show="editForm.countrySentToId.$invalid">
                <p class="help-block"
                    ng-show="editForm.countrySentToId.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.countrySentToId.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_countrySentToName">Country Sent To Name</label>
            <input type="text" class="form-control" name="countrySentToName" id="field_countrySentToName"
                    ng-model="vm.posting.countrySentToName"
                    required/>
            <div ng-show="editForm.countrySentToName.$invalid">
                <p class="help-block"
                    ng-show="editForm.countrySentToName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_citySentToId">City Sent To Id</label>
            <input type="number" class="form-control" name="citySentToId" id="field_citySentToId"
                    ng-model="vm.posting.citySentToId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_citySentToName">City Sent To Name</label>
            <input type="text" class="form-control" name="citySentToName" id="field_citySentToName"
                    ng-model="vm.posting.citySentToName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fragile">Fragile</label>
                <input type="checkbox" name="fragile" id="field_fragile"
                          ng-model="vm.posting.fragile"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_needCooler">Need Cooler</label>
                <input type="checkbox" name="needCooler" id="field_needCooler"
                          ng-model="vm.posting.needCooler"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_otherNote">Other Note</label>
                <input type="checkbox" name="otherNote" id="field_otherNote"
                          ng-model="vm.posting.otherNote"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_otherNoteInfo">Other Note Info</label>
            <input type="text" class="form-control" name="otherNoteInfo" id="field_otherNoteInfo"
                    ng-model="vm.posting.otherNoteInfo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_itemWeight" uib-tooltip="required of otherNote is true">Item Weight</label>
            <input type="number" class="form-control" name="itemWeight" id="field_itemWeight"
                    ng-model="vm.posting.itemWeight"
                    min="0"/>
            <div ng-show="editForm.itemWeight.$invalid">
                <p class="help-block"
                    ng-show="editForm.itemWeight.$error.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.itemWeight.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_packageSizeId">Package Size Id</label>
            <input type="number" class="form-control" name="packageSizeId" id="field_packageSizeId"
                    ng-model="vm.posting.packageSizeId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_packageSizeName">Package Size Name</label>
            <input type="text" class="form-control" name="packageSizeName" id="field_packageSizeName"
                    ng-model="vm.posting.packageSizeName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_needReceipt">Need Receipt</label>
                <input type="checkbox" name="needReceipt" id="field_needReceipt"
                          ng-model="vm.posting.needReceipt"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_priceItem">Price Item</label>
            <input type="number" class="form-control" name="priceItem" id="field_priceItem"
                    ng-model="vm.posting.priceItem"
                    required min="0"/>
            <div ng-show="editForm.priceItem.$invalid">
                <p class="help-block"
                    ng-show="editForm.priceItem.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.priceItem.$error.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.priceItem.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_serviceFee">Service Fee</label>
            <input type="number" class="form-control" name="serviceFee" id="field_serviceFee"
                    ng-model="vm.posting.serviceFee"
                    required min="0"/>
            <div ng-show="editForm.serviceFee.$invalid">
                <p class="help-block"
                    ng-show="editForm.serviceFee.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.serviceFee.$error.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.serviceFee.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_jastipFee">Jastip Fee</label>
            <input type="number" class="form-control" name="jastipFee" id="field_jastipFee"
                    ng-model="vm.posting.jastipFee"
                    required min="0"/>
            <div ng-show="editForm.jastipFee.$invalid">
                <p class="help-block"
                    ng-show="editForm.jastipFee.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.jastipFee.$error.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.jastipFee.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalFee">Total Fee</label>
            <input type="number" class="form-control" name="totalFee" id="field_totalFee"
                    ng-model="vm.posting.totalFee"
                    required min="0"/>
            <div ng-show="editForm.totalFee.$invalid">
                <p class="help-block"
                    ng-show="editForm.totalFee.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.totalFee.$error.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.totalFee.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_acceptedOfferingId">Accepted Offering Id</label>
            <input type="number" class="form-control" name="acceptedOfferingId" id="field_acceptedOfferingId"
                    ng-model="vm.posting.acceptedOfferingId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shoppingDate">Shopping Date</label>
                <div class="input-group">
                    <input id="field_shoppingDate" type="text" class="form-control" name="shoppingDate" datetime-picker="{{dateformat}}" ng-model="vm.posting.shoppingDate" is-open="vm.datePickerOpenStatus.shoppingDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('shoppingDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_deliveryDate">Delivery Date</label>
                <div class="input-group">
                    <input id="field_deliveryDate" type="text" class="form-control" name="deliveryDate" datetime-picker="{{dateformat}}" ng-model="vm.posting.deliveryDate" is-open="vm.datePickerOpenStatus.deliveryDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deliveryDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_trip">Trip</label>
            <select class="form-control" id="field_trip" name="trip" ng-model="vm.posting.trip" ng-options="trip as trip.id for trip in vm.trips track by trip.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
