
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCreditCardLabel">Create or edit a Credit Card</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.creditCard.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.creditCard.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ccNumber">Cc Number</label>
            <input type="text" class="form-control" name="ccNumber" id="field_ccNumber"
                    ng-model="vm.creditCard.ccNumber"
                    required/>
            <div ng-show="editForm.ccNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.ccNumber.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cvc">Cvc</label>
            <input type="text" class="form-control" name="cvc" id="field_cvc"
                    ng-model="vm.creditCard.cvc"
                    required/>
            <div ng-show="editForm.cvc.$invalid">
                <p class="help-block"
                    ng-show="editForm.cvc.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_expireMon">Expire Mon</label>
                <div class="input-group">
                    <input id="field_expireMon" type="text" class="form-control" name="expireMon" datetime-picker="{{dateformat}}" ng-model="vm.creditCard.expireMon" is-open="vm.datePickerOpenStatus.expireMon"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expireMon')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.expireMon.$invalid">
                <p class="help-block"
                    ng-show="editForm.expireMon.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.expireMon.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_expireYear">Expire Year</label>
                <div class="input-group">
                    <input id="field_expireYear" type="text" class="form-control" name="expireYear" datetime-picker="{{dateformat}}" ng-model="vm.creditCard.expireYear" is-open="vm.datePickerOpenStatus.expireYear"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expireYear')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.expireYear.$invalid">
                <p class="help-block"
                    ng-show="editForm.expireYear.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.expireYear.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_defaultCreditCard">Default Credit Card</label>
                <input type="checkbox" name="defaultCreditCard" id="field_defaultCreditCard"
                          ng-model="vm.creditCard.defaultCreditCard"/>
        </div>

        <div class="form-group">
            <label for="field_profile">Profile</label>
            <select class="form-control" id="field_profile" name="profile" ng-model="vm.creditCard.profile" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
