<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                <span>GatewayApp</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                                <a ui-sref="profile" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Profile</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="address" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Address</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="blocked-by-list" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Blocked By List</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="block-list" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Block List</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="credit-card" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Credit Card</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="bank-account" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Bank Account</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="following-list" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Following List</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="follower-list" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Follower List</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="feedback" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Feedback</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="feedback-response" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Feedback Response</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="payment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Payment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="payment-transfer-check-list" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Payment Transfer Check List</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="payment-transfer-history" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Payment Transfer History</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="payment-transfer-unmatched" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Payment Transfer Unmatched</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="country" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Country</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="province" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Province</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="city" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>City</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="postal-code" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Postal Code</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="service-fee" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Service Fee</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="package-size" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Package Size</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="bank" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Bank</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="business-account" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Business Account</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="item-category" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Item Category</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="item-sub-category" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Item Sub Category</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="updates" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Updates</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="master-audit-config" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Master Audit Config</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="master-audit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Master Audit</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="payment-audit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Payment Audit</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="payment-audit-config" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Payment Audit Config</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="profiles-audit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Profiles Audit</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="profiles-audit-config" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Profiles Audit Config</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="banner" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Banner</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="banner-audit-config" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Banner Audit Config</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="banner-audit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Banner Audit</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="wallet" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Wallet</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="wallet-transaction" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Wallet Transaction</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="wallet-withdrawal" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Wallet Withdrawal</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="withdrawal-transfer-list" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Withdrawal Transfer List</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="withdrawal-transfer-history" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Withdrawal Transfer History</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="withdrawal-transfer-failed" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Withdrawal Transfer Failed</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="wallet-audit-config" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Wallet Audit Config</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="wallet-audit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Wallet Audit</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="trip" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Trip</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="posting" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Posting</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="offering" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Offering</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="offering-delivery-info" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Offering Delivery Info</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="offering-delivery-service" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Offering Delivery Service</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="offering-payment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Offering Payment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="offering-puchase" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Offering Puchase</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="offering-courier" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Offering Courier</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="comment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Comment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="sub-comment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Sub Comment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="transaction-audit-config" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Transaction Audit Config</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="transaction-audit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Transaction Audit</span>
                                </a>
                            </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span>Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span>Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span>Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="gateway" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-road"></span>&nbsp;
                                <span>Gateway</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span>Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span>Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span>Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li ng-hide="vm.inProduction">
                            <a href='/h2-console' target="_tab" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                <span>Database</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
