
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOfferingPuchaseLabel">Create or edit a Offering Puchase</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.offeringPuchase.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.offeringPuchase.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_purchased">Purchased</label>
                <input type="checkbox" name="purchased" id="field_purchased"
                          ng-model="vm.offeringPuchase.purchased"/>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setReceiptImg($file, vm.offeringPuchase)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_receiptImg">Receipt Img</label>
            <div>
                <img data-ng-src="{{'data:' + vm.offeringPuchase.receiptImgContentType + ';base64,' + vm.offeringPuchase.receiptImg}}" style="max-height: 100px;" ng-if="vm.offeringPuchase.receiptImg" alt="offeringPuchase image"/>
                <div ng-if="vm.offeringPuchase.receiptImg" class="help-block clearfix">
                    <span class="pull-left">{{vm.offeringPuchase.receiptImgContentType}}, {{vm.byteSize(vm.offeringPuchase.receiptImg)}}</span>
                    <button type="button" ng-click="vm.offeringPuchase.receiptImg=null;vm.offeringPuchase.receiptImgContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setReceiptImg($file, vm.offeringPuchase)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="receiptImg" id="field_receiptImg"
                    ng-model="vm.offeringPuchase.receiptImg"
                    />
            <input type="hidden" class="form-control" name="receiptImgContentType" id="field_receiptImgContentType"
                    ng-model="vm.offeringPuchase.receiptImgContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiptImgUrl">Receipt Img Url</label>
            <input type="text" class="form-control" name="receiptImgUrl" id="field_receiptImgUrl"
                    ng-model="vm.offeringPuchase.receiptImgUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiptImgThumbUrl">Receipt Img Thumb Url</label>
            <input type="text" class="form-control" name="receiptImgThumbUrl" id="field_receiptImgThumbUrl"
                    ng-model="vm.offeringPuchase.receiptImgThumbUrl"
                    />
        </div>

        <div class="form-group">
            <label for="field_offering">Offering</label>
            <select class="form-control" id="field_offering" name="offering" ng-model="vm.offeringPuchase.offering" ng-options="offering as offering.id for offering in vm.offerings | orderBy:'id' track by offering.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
