<div>
    <h2>Offering Couriers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="offering-courier.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Offering Courier
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courierReceiptNo"><span>Courier Receipt No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courierReceiptImg"><span>Courier Receipt Img</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courierReceiptImgUrl"><span>Courier Receipt Img Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courierReceiptImgThumbUrl"><span>Courier Receipt Img Thumb Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courierSendDate"><span>Courier Send Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courierDeliveryDay"><span>Courier Delivery Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courierEstDeliveredDate"><span>Courier Est Delivered Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="confirmReceivedDateTime"><span>Confirm Received Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="offering.id"><span>Offering</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="offeringCourier in vm.offeringCouriers track by offeringCourier.id">
                    <td><a ui-sref="offering-courier-detail({id:offeringCourier.id})">{{offeringCourier.id}}</a></td>
                    <td>{{offeringCourier.courierReceiptNo}}</td>
                    <td>
                        <a ng-if="offeringCourier.courierReceiptImg" ng-click="vm.openFile(offeringCourier.courierReceiptImgContentType, offeringCourier.courierReceiptImg)">
                            <img data-ng-src="{{'data:' + offeringCourier.courierReceiptImgContentType + ';base64,' + offeringCourier.courierReceiptImg}}" style="max-height: 30px;" alt="offeringCourier image"/>
                        </a>
                        <span ng-if="offeringCourier.courierReceiptImg">{{offeringCourier.courierReceiptImgContentType}}, {{vm.byteSize(offeringCourier.courierReceiptImg)}}</span>
                    </td>
                    <td>{{offeringCourier.courierReceiptImgUrl}}</td>
                    <td>{{offeringCourier.courierReceiptImgThumbUrl}}</td>
                    <td>{{offeringCourier.courierSendDate | date:'medium'}}</td>
                    <td>{{offeringCourier.courierDeliveryDay}}</td>
                    <td>{{offeringCourier.courierEstDeliveredDate | date:'medium'}}</td>
                    <td>{{offeringCourier.confirmReceivedDateTime | date:'medium'}}</td>
                    <td>
                        <a ui-sref="offering-detail({id:offeringCourier.offering.id})">{{offeringCourier.offering.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="offering-courier-detail({id:offeringCourier.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="offering-courier.edit({id:offeringCourier.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="offering-courier.delete({id:offeringCourier.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
